<div class="footer abf">
  <div class="about-section">
    <p class="title"><a href="/info/about">About US</a></p>
    <p class="message">Find out more about us.</p>
    <div class="social-media">
      <a href="https://github.com/C1nemaclub"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.instagram.com/santiagovm18/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
    <p class="autor">Made by Santiago Velasquez(Cinemaclub)</p>
    <p>
      PUBG, PLAYERUNKNOWN’S BATTLEGROUNDS and all related logos are trademarks
      of PUBG Corporation or its affiliates.
    </p>
  </div>
</div>
