<div class="footer">
  <div class="contact-section">
    <div class="footer-header">
      <h1>
        Error <span class="error">400</span>
        <span class="error-message">page not found</span>
      </h1>
      <form action="/users" method="POST" class="search-box">
        <select name="platform" id="platform-select" class="input-platform">
          <option value="steam">Steam</option>
          <option value="psn">PSN</option>
          <option value="xbox">XBOX</option>
          <option value="stadia">Stadia</option>
        </select>
        <input
          type="text"
          name="playerName"
          class="input-box"
          placeholder="Enter player name..."
        />
        <button type="submit" name="" class="submit-btn button">
          <i class="fa-solid fa-magnifying-glass fas"></i>
        </button>
      </form>

      <h2>
        Got any questions, bug reports, feedback,<br />
        or just want to say something?
      </h2>
    </div>

    <a href="/info/contact">
      <button class="contact-btn btn">CONTACT US</button>
    </a>
  </div>
  <div class="about-section">
    <p class="title"><a href="/info/about">About US</a></p>
    <p class="message">Find out more about us.</p>
    <div class="social-media">
      <a href="https://github.com/C1nemaclub"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.instagram.com/santiagovm18/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
    <p class="email">santiagov801@gmail.com</p>
    <p class="autor">Made by Santiago Velasquez(Cinemaclub)</p>
  </div>
</div>
