<div class="footer">
  <div class="contact-section">
    <div class="footer-header">
      <h2>
        Got any questions, bug reports, feedback,<br />
        or just want to say something?
      </h2>
    </div>
    <button class="contact-btn btn">
      <a href="/info/contact">CONTACT US</a>
    </button>
  </div>
  <div class="about-section">
    <p class="title"><a href="/info/about">About US</a></p>
    <p class="message">Find out more about us.</p>
    <div class="social-media">
      <a href="https://github.com/C1nemaclub"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.instagram.com/santiagovm18/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
    <p class="autor">Made by Santiago Velasquez(Cinemaclub)</p>
  </div>
</div>
