<form action="/users" method="POST" class="search-box">
  <select name="platform" id="platform-select" class="input-platform">
    <option value="steam">Steam</option>
    <option value="psn">PSN</option>
    <option value="xbox">XBOX</option>
    <option value="stadia">Stadia</option>
  </select>
  <input
    type="text"
    name="playerName"
    class="input-box"
    placeholder="Search..."
  />
  <button type="submit" name="" class="submit-btn button">
    <i class="fa-solid fa-magnifying-glass fas"></i>
  </button>
</form>
