<script
  src="https://kit.fontawesome.com/b109f342ec.js"
  crossorigin="anonymous"
></script>

<nav class="nav-bar">
  <a href="/">
    <img src="/assets/logo.png" alt="" class="logo" />
  </a>

  <ul class="list-items">
    <li class="current"><a href="/">HOME</a></li>
    <li class="dashCurrent"><a href="/users/playerData">DASHBOARD</a></li>
    <li class="aboutCurrent"><a href="/info/about">ABOUT</a></li>
    <li class="contactCurrent"><a href="/info/contact">CONTACT</a></li>
  </ul>
  <i class="fa-solid fa-x menu-close"></i>
  <i class="fa-solid fa-bars menu-open"></i>
</nav>
