<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="icon" href="/assets/logo.png" type="image/png" />

    <script
      src="https://kit.fontawesome.com/b109f342ec.js"
      crossorigin="anonymous"
    ></script>
    <title>PUBG Battletracker About</title>
  </head>
  <body>
    <div id="preloader"></div>

    <div class="about-page">
      <%- include("./partials/header.ejs") %>

      <div class="content-section">
        <div class="header">ABOUT US</div>
        <div class="sub-header">Thank you for visiting us!</div>
        <p class="message">
          I'am Santiago Velasquez, a Technologist in Electronics, and
          Electronics Engineering student based in Medellin-Colombia, with a
          passion for programming and learning how everything works. Currently
          focused on web development as i aspire to be a web developer soon!.
          This project was made for tracking your in-game statistics for the
          <a href="https://na.battlegrounds.pubg.com/"
            ><span>PUBG: BATTLEGROUNDS</span></a
          >
          videogame using the oficial API for it, hope you enjoy the website and
          find a use for it!
        </p>
      </div>

      <div class="footer">
        <div class="about-section">
          <p class="title"><a href="/info/about">About US</a></p>
          <p class="message">Find out more about us.</p>
          <div class="social-media">
            <a href="https://github.com/C1nemaclub"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="https://www.instagram.com/santiagovm18/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
          <p class="autor">Made by Santiago Velasquez(Cinemaclub)</p>
          <p>
            PUBG, PLAYERUNKNOWN’S BATTLEGROUNDS and all related logos are
            trademarks of PUBG Corporation or its affiliates.
          </p>
        </div>
      </div>
    </div>
    <script>
      const loader = document.querySelector('#preloader');
      window.addEventListener('load', () => {
        loader.style.display = 'none';
      });

      const previousCurrent = document.querySelector('.current');
      const presentCurrent = document.querySelector('.aboutCurrent');
      previousCurrent.classList.remove('current');
      presentCurrent.classList.add('current');

      const nav_list = document.querySelector('.list-items');
      const open_icon = document.querySelector('.menu-open');
      const close_icon = document.querySelector('.menu-close');

      open_icon.addEventListener('click', () => {
        nav_list.style.left = '85%';
        open_icon.style.display = 'none';
        close_icon.style.display = 'unset';
      });
      close_icon.addEventListener('click', () => {
        nav_list.style.left = '125%';
        open_icon.style.display = 'unset';
        close_icon.style.display = 'none';
      });
    </script>
  </body>
</html>
